<h1>List of All People by Last Name</h1>
<h2><%= link_to 'Create New Person', new_person_path %></h2>
<% @people.each do |person| %>
  <h3> <%= person.first_name + ' ' + person.last_name %></h3>
  <h4><%= link_to 'Show Person', person_path(person) %></h4>
  <h4><%= link_to 'Edit Person', edit_person_path(person) %></h4>
  <% end %>


